<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <ul>
        <li><a href="https://us-central1-smartfarmkits.cloudfunctions.net/explore/test">Home</a></li>
        <li><a href="https://us-central1-smartfarmkits.cloudfunctions.net/explore/userget">User Get</a></li>
        <li><a href="https://us-central1-smartfarmkits.cloudfunctions.net/explore/sensorget">Sensor Get</a></li>

    </ul>
</body>
</html>